*{
    margin: 10;
    padding: 0;
}

.card{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card.completed{
    opacity: .5;
}

.card.completed h2{
    text-decoration: line-through;
}

.tak{
    border-radius: 15px;
    font-size: 10px;
    padding: 5px;
    border: none;
    background-color: blueviolet;
}

.tak:hover{
    transform: scale(105%);
}

